html {
    box-sizing: border-box;
    background-color: var(--bg-html-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: var(--base-font-size);
    letter-spacing: var(--base-letter-spacing);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);
    margin: 0 auto;
    background-color: var(--bg-body-color);
    color: var(--text-color);
    min-width: var(--min-body-width);
    max-width: var(--max-body-width);
    height: 100%;
}
a {
    font: inherit;
    text-decoration: none;
    color: inherit;
}
button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}
strong {
    font-weight: var(--strong-font-weight);
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
p {
    padding: var(--gap);
}
h1, h2, h3, h4 {
    font-weight: var(--base-font-weight);
}
h1 { 
    font-size: 2.75em;
}
h2 { 
    font-size: 2.5em;
}
h3 { 
    font-size: 2em;
}
h4 { 
    font-size: 1em;
}
textarea {
    max-width: var(--max-body-width);
    min-width: calc(var(--min-body-width) / 2);
    min-height: calc(var(--min-body-width) / 2);
    padding: var(--gap);
}
input, textarea, select {
    font: inherit;
    display: block;
    width: 100%;
}
input::placeholder, textarea::placeholder { 
    font: inherit;
    color: inherit;
}
input[type=checkbox], input[type=radio] {
    width: auto;
}
ul {
    list-style: none;
}
svg, path {
    pointer-events: none;
}
.disabled-link {
    pointer-events: none;
    cursor: default;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
.visually-hidden {
    @include visually-hidden;
}
.stop-scroll {
    @include stop-scroll;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.dropdown {
    position: relative;
}
.dropdown__btn {
    cursor: pointer;
}
.dropdown__content {
    position: absolute;
    left: auto;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 50;

    transform: translateY(20px);
    transition: transform var(--anim-speed) ease-in-out;
}
.dropdown__content--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.container {
    margin: 0 auto;
    min-width: var(--min-body-width);
    max-width: var(--max-body-width);
    padding: 0 var(--gap);
}
.no-wrap {
    white-space: nowrap;
}
.scroller {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    gap: var(--gap);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    &__item {
        position: relative;
        scroll-snap-align: start;
        scroll-padding-inline: var(--gap);
        width: 100vw;
    }
}