:root { 
    --min-body-width: 320px;
    --max-body-width: 1400px;
  
    --base-font-size: 14px;
    --big-font-size: 1.5em;
    --bigger-font-size: 2em;
    --small-font-size: 0.9em;
    --smaller-font-size: 0.7em;
    --base-letter-spacing: 0em;
    --base-line-height: 1.36em;
  
    --base-gap:  1em;
    --big-gap: 2em;
    --small-gap: 0.5em;
    --anim-speed: 0.3s;
    --hover-opacity: 0.2;
  
    --base-font-weight: 400;
    --strong-font-weight: 700;
    --weak-font-weight: 300;
  
    --bg-html-color: #ffffff;
    --bg-body-color: #ffffff;
    --text-color: #212121;
    --flash-color: #f1f2f6; 
    --accent-color: #2bcbba;
    --mark-color: #ff4757;
    --weak-contrast-color: #d1d8e0;
    --medium-contrast-color: #687080;
    --strong-contrast-color: #212121;

    --white-color: #ffffff;
    --black-color: #212121;

    --transition-color: color var(--anim-speed);
    --transition-background-color: background-color var(--anim-speed);
    --transition-border: border var(--anim-speed);
    --transition-transform: transform var(--anim-speed);

    --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}
// [data-mode="dark"] {
//     --bg-html-color: #f5f5f5;
//     --bg-body-color: #f5f5f5;
//     --base-text-color: #212121;
//     --primary-color: #2bcbba;
//     --secondary-color: #687080;
//     --accent-color: #ff4757;
//     --flash-color: #f1f2f3;
//     --light-color: #d1d8e0;
//     --white-color: #ffffff;
//     --dark-color: #212121;
// }
