@use "vendors";
@use "vars";
@use "fonts";
@use "mixins";
@use "icons";
@use "settings";


.dropdown {
    position: relative;
    &__toggle {
        cursor: pointer;
    }
    &__chevron {
        font-size: var(--small-font-size);
        padding-left: var(--small-gap);
    }
    &__content {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
}
.z-up {
    z-index: 10;
    transform: translateY(20px);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.accordion {
    position: static;
    height: 0;
    transform: translateY(10px);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 30;
    overflow: auto;
    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: var(--big-font-size);
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    pointer-events: none;
    opacity: 0;
    background-color: rgb(0 0 0 / 70%);
    transition: opacity var(--base-anim);
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
.menu__trigger {
    display: none;
}
.mobile-menu {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base-gap);
    padding: 2em 1em;
    width: calc(var(--min-container-width) - 30px);
    height: 100vh;
    background-color: var(--light-color);

    transform: translateX(-100%);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &__menu {
        overflow-y: auto;
        scrollbar-color: var(--accent-color) var(--light-color);
        scrollbar-width: thin;
    }
    &__list {
        height: auto;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
.btn-light {
    color: var(--text-color);
    background-color: var(--light-color);
    border: 1px solid;
    border-color: var(--dark-color);
    border-radius: 8px;

    transition: color var(--base-anim), background-color var(--base-anim);
    &:hover {
        color: var(--light-color);
        background-color: var(--dark-color);
    }
}
.btn-dark {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 1px solid;
    border-color: var(--dark-color);
    border-radius: 8px;

    transition: color var(--base-anim), background-color var(--base-anim);
    &:hover {
        color: var(--text-color);
        background-color: var(--light-color);
    }
}
/* mode */
#mode-btn {
    display: none;
}
.mode-trigger {
    display: inline-block;
    position: relative;
    height: 1.2em;
    width: 2.5em;
    border-radius: 0.6em;
    background-color: var(--weak-contrast-color);
    transition: background-color var(--base-anim);
}
.mode-trigger::after {
    position: absolute;
    top: 1px;
    right: 1px;
    content: "";
    width: 1em;
    height: 1em;
    z-index: 2;
    background-color: var(--flash-color);
    border-radius: 50%;
    transform: translateX(-1.38em);
    transition: background-color var(--base-anim), transform var(--base-anim);
}
.mode-trigger.active {
    background-color: var(--medium-contrast-color);
}
.mode-trigger.active::after {
    transform: translateX(0);
    background-color: var(--dark-color);
}

/* hero */
.hero__swiper {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 991.98px) {
    .menu__trigger {
        display: block;
    }
    .menu__list {
        display: none;
    }
}
